<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Team Results</title>
  </head>
  <body>
    <h2>Your Team!</h2><br>
    <h3><%=@team.name%></h3>
    <h3>Team Motto: <%=@team.motto%></h3>
    <br>

    <%@team.members.each do |member|%>
      <p>Hero Name: <%=member[:name]%></p>
      <p>Hero Power: <%=member[:power]%></p>
      <p>Hero Biography: <%=member[:bio]%></p>
      <br>
    <%end%>

  </body>
</html>
